*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,rgb(153, 110, 110),blue);
    text-align: center;
}
#container{
    
    display: grid;
    background: transparent;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 4px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 4rem;
    
}
.btn{
    padding: 0.3rem;
    padding-top: 0;
    display: flex;
    height: 9rem;
    width: 9rem;
    background-color: black;
    color: whitesmoke;
    font-size: 9rem;
    align-items: center;
    justify-content: center;
}
#rebtn{
    margin-top: 1rem;
    height: 3rem;
    width: 7rem;
    border-radius: 9px;
    background-color: rgb(0, 132, 255);
}

